html {
  margin: 0;
  padding: 0;
}

body {
  position:relative;
  background-color:#e9e9e9;
  font-family:Lato,sans-serif;
  font-size:1em;
  font-weight:400;
  line-height:1.45;
  color:#333;
}

.article_container {
  margin: 0 1em;
}

.article_content {
  max-width:38em;
  font-family:"Libre Baskerville", Lato, serif;
  margin: 0 auto;
}

.article_header {
  line-height:1.2;
  margin:1.414em 0 .5em;
  padding
}

h1 {
  font-size: 3.998em;
}

h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

/*Uncomment to demo compounding em sizing*/
/*span {
  font-size: 1.5em;
}*/
